*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    background-image: url(images/background.jpeg);
    background-size: cover;
    background-position: center;
}
.navbar{
    background-color: rgb(94, 198, 207);
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    padding-left: 120px;
    padding-top: 1px;
    width: 110px;
    cursor: pointer;
}
.shaastralogo{
    padding-right: 150px;
    width: 150px;
    cursor: pointer;
}
.menu{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
.menu ul{
    list-style: none;
    margin-top: 1%;
}
.menu ul li{
    color: rgb(12, 4, 92);
    width: 150px;
    border: 2px solid rgb(11, 4, 91);
    height: 50px;
    line-height: 50px;
    float: left;
    position: relative;
}
.menu ul li :hover{
    background: rgb(159, 238, 245);
}
.menu ul ul{
    display: none;
}
.menu ul li :hover > ul{
    display: block;
}
.content{
    color: rgb(159, 238, 245);
    line-height: 30px;
}
h1{
    padding-left: 40px;
    padding-top: 30px;
    line-height: 80px;
}
.p{
    padding-bottom: 50px;
    padding-left: 40px;
}
.quiz{
    width: 450px;
    height: 40%;
    position: absolute;
    bottom: 0;
    right:130px;
    bottom: 280px;
}
h2{
    padding-left: 40px;
    color: rgb(159, 238, 245);
}
.timeline{
    padding-left: 50px;
    color: rgb(159, 238, 245);
    padding-bottom: 30px;
}
.line{
    line-height: 30px;

}
.footer{
    padding-top: 30px;
    padding-left: 0px;
    color: rgb(159, 238, 245);
    line-height: 30px;
    padding-bottom: 30px;
}
.footer ul li{
    padding-left: 40px;
}
